/**
 * Design system
 * Using Pollen as a foundation
 * https://pollen.style
 */
:root {
  /* Typography */
  --font-family-sans: "Inter", sans-serif;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Colours */
  --color-text: var(--color-black);
  --color-text-secondary: var(--color-grey-700);

  /* Layout — Page */
  --page-width: 90rem;
  --page-gutter: 3vw;
  --content-gutter: 20px;
  --page-grid: minmax(var(--page-gutter), 1fr) minmax(0, var(--page-width))
    minmax(var(--page-gutter), 1fr);
  --content-grid: repeat(12, 1fr);
}
